.navigation {
  background-color: var(--bg-grey-medium);
  display: flex;
  position: fixed;
  width: 100vw;
  height: 5rem;
  justify-content: space-between;
  color: white;

  & > * {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__dropdown {
    display: flex;
    align-items: stretch;

    & > * {
      width: 100%;
      text-align: center;
    }
  }

  &__logo {
    font-size: 1.5rem;
  }

  &__desktop {
    flex-basis: 60vw;
  }

  &__nav_items {
    display: flex;
    width: 100%;
    height: 100%;
    transition: all .2s;

    & > * {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      &:hover {
        transform: scale(0.90) translateY(5px);
        border-bottom: 5px solid grey;
      }
    }
  }
}