.navigation {
  background-color: var(--bg-grey-medium);
  display: flex;
  position: fixed;
  width: 100vw;
  height: 5rem;
  justify-content: space-between;
  color: white;

  & > * {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-basis: 20rem;
  }

  &__dropdown {
    display: flex;
    align-items: stretch;

    & > * {
      width: 100%;
      text-align: center;
    }
  }

  &__logo {
    font-size: 1.5rem;
  }
}