.get_started_section {
  text-align: center;
  padding: 5rem;

  &__title {
    text-transform: uppercase;
    font-size: 2rem;
  }

  &__img {
    max-height: 1200px;
    height: 15rem;
    margin-top: 2rem;

    @media only screen and (max-width: 400px) {
      height: 8rem;
    }

    @media only screen and (min-width: 700px) {
      height: 20rem;
    }
  }
}